<div class="list row">
  <div class="col-md-6">
    <h4>Lista de Pedidos</h4>
    <ul class="list-group">
      @for (pedido of pedidos; track pedido.id; let i = $index) {
      <li
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActivePedido(pedido, i)"
      >
        Cliente: {{ pedido.nomeCliente }} | Total: {{ pedido.valorTotal |  currency:'BRL':true }}
      </li>
      }
    </ul>
  </div>
  <div class="col-md-6">
    <app-pedido-details
      [viewMode]="true"
      [currentPedido]="currentPedido"
    ></app-pedido-details>
  </div>
</div>
